.UI {
    display: flex;
    box-sizing: border-box;
    height: 94vh;
    min-width: 1000px;
    min-height: 94vh;
    max-height: 94vh;
}

.pane-header {
    margin: 0;
    flex-grow: 1;
}

.Dialog {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
