$slate: #28262b;
$red: #ba2525;

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    border: 1px solid $slate;
    height: 30px;
    font-size: 1.2em;

    &[type="date"] {
        height: 32px;
    }

    &[type="number"] {
        width: 40px;
    }
}

.container {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "student-list-area score-tabs-area";
    gap: 30px;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
}

.button {
    margin: 0;
    min-height: 36px;
    border: none;
    appearance: none;
    background-color: #eee;
    border-radius: 50px;
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover {
        background-color: #bbb
    }

    &.wide {
        width: 100%;
    }
}

.icon-button {
    margin-left: 5px;
    border: none;
    appearance: none;
    background-color: transparent;
    border-radius: 100%;
    color: #eee;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;

    &:hover {
        transition: 0.5s;
    }

    &.red {
        color: $red;
        border-color: $red;
    }

    &.dark {
        color: $slate;
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &.center {
        justify-content: center;
    }
}

.modal { 
    display: none;
    position: fixed; 
    z-index: 9;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4) 
}

.dialog { 
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background-color: #fff;
    border-radius: 5px;
    padding: 15px; 
    z-index: 10; 
    max-width: 350px; 
    min-width: 300px;

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            position: relative;
            top: -10px;
            left: 0px;
            font-size: 0.7em;
        }
    }

    .fa-close {
        position: relative;
        top: -10px;
        left: 7px;
    }
}

#StudentList {
    grid-area: student-list-area;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 5px;
    min-height: 100%;
    max-height: 100px;

    #menubar-area {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 40px;
    }

    #list-area {
        flex-grow: 1;
        overflow: auto;
    }

    #student-list {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    .student-row {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 5px 10px;
        margin-top: 5px;
        border-radius: 50px;
        span {
            flex-grow: 1;
            display: inline-block;
            white-space: nowrap;
            height: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: #eee;
            cursor: pointer;
        }

        &.selected {
            background-color: $slate;
            color: #eee;
        }
    }

    #csv-drop-area {
        background-color: red;
    }
}

#ScoreTabs {
    display: grid;
    grid-area: score-tabs-area;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "tabs" "content";
    gap: 5px;

    #tabs {
        grid-area: tabs;
        display: flex;
        justify-content: stretch;
        padding: 5px;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        
        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            height: 100%;
            border-radius: 5px;

            &:hover {
                background-color: #eee;
            }

            &.selected {
                background-color: $slate;
                color: white;
            }
        }
    }

    #safmed-content {
        grid-area: content;
        padding: 10px;
    }
}
