.AddStudent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: center;
}
