.tab-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chart {
    height: 550px;
    width: 820px;
    margin: 10px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}